<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Logout</button>
                </div>
            </div>
        </div>
    </header>
    <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center p-3">
            <h2>Phone Book</h2>
        </div>
        <div class="row justify-content-center align-items-center p-3">
            <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-8" style="text-align: right">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-add">Add</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="bs-checkbox" style="text-align: center; vertical-align: middle; width: 36px;"
                                rowspan="2" data-field="state">
                                <div class="th-inner">
                                    <label class="m-0">
                                        <input name="btSelectAll" type="checkbox">
                                        <span></span>
                                    </label>
                                </div>
                                <div class="fht-cell" style="width: 37px;"></div>
                            </th>
                            <th scope="col">이름</th>
                            <th scope="col">전화 번호</th>
                            <th scope="col">이메일</th>
                            <th scope="col">메모</th>
                            <th scope="col">수정/삭제</th>
                        </tr>
                    </thead>
                    <tbody id="phonebook-table">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/b4/jquery/modals/forms/ -->
    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">전화번호부 등록</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form34">name</label>
                        <input type="text" id="phonebook-add-name" class="form-control validate">
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form29">phone</label>
                        <input type="text" id="phonebook-add-phone" class="form-control validate">
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-tag prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form32">email</label>
                        <input type="email" id="phonebook-add-email" class="form-control validate">
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form8">memo</label>
                        <textarea type="text" id="phonebook-add-memo" class="md-textarea form-control"
                            rows="4"></textarea>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-unique" onclick="addButtonClicked()">추가 <i
                            class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- https://mdbootstrap.com/docs/b4/jquery/modals/forms/ -->
    <div class="modal fade" id="modal-modify" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">전화번호부 추가</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <input type="hidden" id="phonebook-modify-id" value="">
                    <div class="md-form mb-5">
                        <i class="fas fa-user prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form34">name</label>
                        <input type="text" id="phonebook-modify-name" class="form-control validate">
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form29">phone</label>
                        <input type="text" id="phonebook-modify-phone" class="form-control validate">
                    </div>

                    <div class="md-form mb-5">
                        <i class="fas fa-tag prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form32">email</label>
                        <input type="email" id="phonebook-modify-email" class="form-control validate">
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="form8">memo</label>
                        <textarea type="text" id="phonebook-modify-memo" class="md-textarea form-control"
                            rows="4"></textarea>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-unique" onclick="modifyButtonClicked()">수정 <i
                            class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function createPhonebookTableRow(phonebook) {
            let ret = `<tr id=phonebook-${phonebook._id}>
                <td class="bs-checkbox" style="text-align: center; vertical-align: middle; width: 36px;">
                    <label class="justify-content-center align-items-center m-0">
                        <input data-index="0" name="btSelectItem" type="checkbox" value="0">
                        <span></span>
                    </label>
                </td>
                <td>${phonebook.name}</td>
                <td>${phonebook.phone}</td>
                <td>${phonebook.email}</td>
                <td>${phonebook.memo}</td>
                <td>
                    <button type="button" class="btn btn-info" onclick="openModifyModal('${phonebook._id}', '${phonebook.name}', '${phonebook.phone}', '${phonebook.email}', '${phonebook.memo}')">수정</button>
                    <button type="button" class="btn btn-danger" onclick="deletePhonebook('${phonebook._id}')">삭제</button>
                </td>
            </tr>`
            return ret;
        }

        function getAll() {
            $.ajax({
                url: "/phonebook",
                type: 'GET',
                success: function (res) {
                    const obj = JSON.parse(res);
                    let rows = "";
                    for (var key in obj) {
                        if (obj.hasOwnProperty(key)) {
                            rows += createPhonebookTableRow(obj[key]);
                        }
                    }

                    $("#phonebook-table").html(rows);
                },
                error: function (xhr, status) {
                    var errorResponse = $.parseJSON(xhr.responseText);
                    alert(errorResponse.message);
                }
            });
        }

        function addPhonebook(name, phone, email, memo) {
            $.ajax({
                url: "/phonebook",
                type: 'POST',
                dataType: 'json',
                data: {
                    name: name,
                    phone: phone,
                    email: email,
                    memo, memo
                },
                success: function (res) {
                    const row = createPhonebookTableRow(res.message);
                    $("#phonebook-table").append(row);
                    $("#modal-add").modal("hide");
                },
                error: function (xhr, status) {
                    var errorResponse = $.parseJSON(xhr.responseText);
                    alert(errorResponse.message);
                }
            });
        }

        function addButtonClicked() {
            addPhonebook(
                $('#phonebook-add-name').val(),
                $('#phonebook-add-phone').val(),
                $('#phonebook-add-email').val(),
                $('#phonebook-add-memo').val()
            );
        }

        function deletePhonebook(id) {
            $.ajax({
                url: "/phonebook/" + id,
                type: 'DELETE',
                success: function (res) {
                    const id = res.message;
                    $("#phonebook-" + id).remove();
                },
                error: function (xhr, status) {
                    var errorResponse = $.parseJSON(xhr.responseText);
                    alert(errorResponse.message);
                }
            });
        }

        function openModifyModal(id, name, phone, email, memo) {
            $('#phonebook-modify-id').val(id);
            $('#phonebook-modify-name').val(name);
            $('#phonebook-modify-phone').val(phone);
            $('#phonebook-modify-email').val(email);
            $('#phonebook-modify-memo').val(memo);
            $('#modal-modify').modal('show');
        }

        function modifyButtonClicked() {
            modifyPhonebook(
                $('#phonebook-modify-id').val(),
                $('#phonebook-modify-name').val(),
                $('#phonebook-modify-phone').val(),
                $('#phonebook-modify-email').val(),
                $('#phonebook-modify-memo').val());
        }

        function modifyPhonebook(id, name, phone, email, memo) {
            $.ajax({
                url: "/phonebook/" + id,
                type: 'PUT',
                dataType: 'json',
                data: {
                    name: name,
                    phone: phone,
                    email: email,
                    memo, memo
                },
                success: function (res) {
                    const row = createPhonebookTableRow(res.message);
                    $("#phonebook-" + res.message._id).replaceWith(row);
                    $("#modal-modify").modal("hide");
                },
                error: function (xhr, status) {
                    var errorResponse = $.parseJSON(xhr.responseText);
                    alert(errorResponse.message);
                }
            });
        }

        function init() {
            $(document).ready(function () {
                $("#modal-add").on('show.bs.modal', function (e) {
                    $('#phonebook-add-name').val("");
                    $('#phonebook-add-phone').val("");
                    $('#phonebook-add-email').val("");
                    $('#phonebook-add-memo').val("");
                });
            });

            getAll();
        }

        init();
    </script>
</body>

</html>